body {
    background: radial-gradient(orange, red);
    
}
div, a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

img {
    width: 100px;
    height: 100px;
}