
/* Import the Orbitron font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

/* Set the body's background color to black and remove default margins */
body{
    background-color: black;
    margin-top: 0px;
    overflow: hidden;
    width: 100%;
}

/* Create a container for the matrix effect */
#matrix{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family: 'Orbitron', sans-serif;
}

/* Style the individual characters in the matrix */
#matrix div {
    width: 18px;
    height: 100%;
    writing-mode: vertical;
    text-orientation: upright;
    letter-spacing: 1px;
    color: green;
    font-weight: 600;
    transition-duration: 0.2s;
}

/* Style the paragraph that appears at the bottom of the screen */
.p{
    font-size: 75px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    transform: translateY(100%);
    transition: transform 5s linear;
    animation: moverArriba 35s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

/* Define the animation for the paragraph moving up and down */
@keyframes moverArriba {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-200%);
    }
}
