.grid{
    width: 420px;
    height: 420px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 15px;
    height: 15px;
}

.floor{
    background: rgb(0, 128, 0);
    border: 5px solid white;
    box-sizing: border-box;
}

.sky{
    background: rgb(0, 128, 124);
}

.plataform{
    background: rgb(0, 110, 0);
    border: none;
}

.pig{
    background: rgb(98, 255, 0);
    border-radius: 7.5px;
    border: none;
}
.bird{
    background: rgb(255, 0, 0);
    border-radius: 7.5px;
    border: none;
}

.score{
    height: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.space{
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
}
/*  // 0- sky
    // 1- floor
    // 2- bird
    // 3- pig
    // 4- plataform
*/
